@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
/* font-family: 'Preahvihear', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #07070A;
    --cor2: #24272B;
    --cor3: #4A525A;
    --cor4: #004BA8;
    --cor5: #3E78B2;

}

  @keyframes appearFromCenter {
    0% {
      transform: translateX(-50%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
  
  .slideAdd {
    animation: appearFromCenter 0.5s ease;
  }

body{
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: var(--cor3);
    margin: auto;
    max-width: 800px;
    min-height: 90vh;
    border-radius: 30px;
    padding: 30px 20px;
}

#divInput > h1 {
    box-sizing: border-box;
    display: flex;
    margin: auto;
    font-family: 'Preahvihear', sans-serif; 
    background-color: var(--cor2);
    color: white;
    text-align: center;
    border-radius: 30px;
    max-width: 650px;
    text-shadow: 2px 2px black;
    height: 80px;
    box-shadow: 1px 1px 4px 0px black;
    justify-content: center;
    align-items: center;
}

#divInput {
    text-align: center;
}

#divInput label, input, button {
    font-size: 25px;
    box-shadow: 1px 1px 4px 0px black;
    margin-top: 20px;
    margin-bottom: 50px;
}

#localTarefas {
    display: flex;
    flex-direction: column;
}

li {
    box-sizing: border-box;
    margin: auto;
    position: relative;
    font-size: 20px;
    background-color: var(--cor4);
    width: 650px;
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 0px black;
    transition: .5s;
}

@media (max-width: 800px) {
    main{
        border-radius: 0;
    }
}
@media (max-width: 700px) {
    li{
        width: 500px;
    }
}
@media (max-width: 500px) {
    li{
        width: 400px;
    }
    input{
        width: 200px;
    }
}

li:hover{
    background-color: #acacac;
}

li::before{
    content: "☑️";
}

li > button {
    position: absolute;
    right: 0;
    height: 100%;
    top: -20px;
    border-radius: 0px 15px 15px 0px;
    width: 100px;
    background-color: rgb(52, 43, 43);
}

#inputTarefa{
    border-radius: 10px;
    border:1px solid var(--cor1);
    transition: .5s;
}

#inputTarefa:hover{
    background-color: #8991791e;
}

#addtarefa{
    border-radius: 15px;
    font-variant: small-caps;
    background-color: var(--cor5);
    transition: .5s;
}

#addtarefa:hover{
    background-color: #D6DBD2;
}

.tarefaConcluida {
    text-decoration: line-through;
    order: 2;
    background-color: var(--cor5);
    color: #0000009c;
}

.tarefaConcluida::before{
    content: "✅";
}

.newitem:hover {
    cursor: pointer;
}