@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
/* font-family: 'Preahvihear', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

:root {
    /* --cor1: #2c363f;
    --cor2: #e75a7c;
    --cor3: #F2F5EA;
    --cor4: #D6DBD2;
    --cor5: #899179; */

}

  @keyframes appearFromCenter {
    0% {
      transform: translateX(-50%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
  
  .slideAdd {
    animation: appearFromCenter 0.5s ease;
  }

body{
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border: 1px solid red; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative;
}
  
header > h1 {
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}
  
header > p {
    margin: 15px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
}

#divInput{
    border: 1px solid green;
    display: flex;
    position: relative;
    margin: auto;
    width: 400px;
    height: 40px;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    margin-top: 15px;
    background-color: yellow;
    z-index: 10;
}

#divInput > input{
    height: 35px;
    width: 340px;
    border: none;
    outline: 0;
    margin-left: 20px;
}

#divInput > button {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    position: relative;
}

#adicionar {
    position: absolute;
    width: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#localTarefas {
    display: flex;
    flex-direction: column;
}

li {
    box-sizing: border-box;
    margin: auto;
    position: relative;
    font-size: 20px;
    width: 650px;
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
    transition: .5s;
    cursor: pointer;
}

li::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('img/radio_button_unchecked_FILL0_wght400_GRAD0_opsz24.svg');
    background-size: cover;
    margin-right: 10px;
  }

li > button {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0px;
    border-radius: 0px 15px 15px 0px;
    width: 100px;
    background-color: transparent;
    border: 1px solid pink;
}

button > img {
    width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#addtarefa{
    border-radius: 15px;
    font-variant: small-caps;
    background-color: var(--cor5);
    transition: .5s;
}

.tarefaConcluida {
    text-decoration: line-through;
    order: 2;
    background-color: var(--cor5);
    color: #0000009c;
}

.tarefaConcluida::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('img/task_alt_FILL0_wght400_GRAD0_opsz24.svg');
    background-size: cover;
    margin-right: 10px;
  }


  @media (max-width: 359px) {
    header {
        height: 170px;
    }
      
    header > h1 {
        font-size: 50px;
    }
      
    header > p {
        margin: 2px;
        font-size: 14px;
    }

    #divInput{
        height: 45px;
        width: 100%;
        position: fixed;
        bottom: 10px;
        box-sizing: border-box;
    }
    
    #divInput > input{
        height: 17px;
        width: 190px;
        font-size: 15px;
        box-sizing: border-box;
    }
    
    #divInput > button {
        height: 30px;
        width: 30px;
        position: absolute;
        right: 7px;
        box-sizing: border-box;
    }
    li {
        max-width: 250px;
    }
    li > button {
        max-width: 50px;
    }
    button > img{
        width: 25px;
    }
  }


  @media (min-width: 360px) and (max-width: 414px){
    header {
        height: 170px;
    }
      
    header > h1 {
        font-size: 50px;
    }
      
    header > p {
        margin: 2px;
        font-size: 14px;
    }

    #divInput{
       height: 35px;
       width: 330px;
    }
    
    #divInput > input{
        height: 17px;
        width: 275px;
        font-size: 15px;
    }
    
    #divInput > button {
        height: 35px;
        width: 35px;
        position: absolute;
        right: 5px;
    }
    li {
        width: 350px;
    }
    li > button {
        width: 50px;
    }
    button > img{
        max-width: 25px;
    }
  }


